<footer>
  <div>
    <img style="float:left; margin-right:16px" decoding="async" class="u-photo img-circle" width="64" height="64" src="/img/meta/nsmsn-profile-offwhite.png" alt="">
    <p>Howdy, I’m <a class="u-url" href="https://nicksimson.com" rel="me"><span class="p-name">Nick Simson</span></a>.</p>
    <p class="p-note">I live in New Mexico and work as a graphic and interaction designer.</p>
    <p>You can reach me at <a class="u-email" href="mailto:nick@nicksimson.com">nick@nicksimson.com</a>. I’m also on <a rel="me" href="https://social.lol/@nsmsn">Mastodon</a>, <a rel="me" href="https://github.com/nsmsn">GitHub</a>, <a rel="me" href="https://libre.fm/user/nsmsn">Libre.fm</a>, and <a href="https://nicksimson.com/links">a few other places</a>.</p>
  </div>  
  
      <p>© 2024. The large print giveth and the small print taketh away.</p>
</footer>