<nav role="navigation" id="menu" class="off-canvas">
    <ul class="list-unstyled">
        <li><a href="/index.html">Home</a></li>
        <li><a href="/posts/">Posts</a></li>
        <li><a href="/notes/">Notes</a></li>
        <li><a href="/tags/">Tags</a></li>
        <li><a href="/library.html">Library</a></li>
        <li><a href="/vinyl.html">Vinyl</a></li>
        <li><a href="/following.html">Following</a></li>
        <li><a href="/about.html">About</a></li>
        <li><a href="/links.html">Links</a></li>
        <li><a href="/now.html">Now</a></li>
        <li><a href="/all.html">All</a></li>
    </ul>
  <a href="#top" class="control">✕ Dismiss</a>
  </nav>  