@import url(https://fonts.bunny.net/css?family=hanken-grotesk:400,400i,700,700i);

/* Server Mono */
@font-face {
  font-family: "Server Mono";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/ServerMono-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Server Mono";
  font-style: italic;
  font-weight: 400;
  src: url("/assets/fonts/ServerMono-Regular-Italic.woff2") format("woff2");
  font-display: swap;
}

  :root {
    /* Color */
    --color-fg: #F0F0F0;
    --color-bg: #283945;
    --color-accent: #61bdff;

    /* Spacing */
    --gutter: clamp(3ch, 2.5vmax, 3.75ch);
    --stack: clamp(1.25ex, 2.5vmax, 1.75ex);
    --line-length: 75ch;
    --page-max-inline-size: min(var(--line-length), 80dvi);
    --page-padding-inline: calc((100dvi - var(--page-max-inline-size)) / 2);

    /* Typography */
    --font: 'Hanken Grotesk', system-ui, sans-serif;
    --font-weight: 400;
    --font-weight-semibold: 600;
    --font-weight-bold: 900;
    --font-size-min: 100%;
    --font-size-max: 150%;
    --leading: 1.4;
    --font-hanken: 'Hanken Grotesk', system-ui, sans-serif;
    --font-server: 'Server Mono', monospace;

    font-family: var(--font);
    font-size: clamp(
      var(--font-size-min),
      var(--font-size-min) * 0.9 + 0.5dvi,
      var(--font-size-max)
    );
    font-weight: var(--font-weight);
    line-height: var(--leading);
    color: var(--color-fg);
    background-color: var(--color-bg);
    accent-color: var(--color-accent);
    color-scheme: dark light;
  }

  @media (prefers-color-scheme: light) {
    :root {
      --color-fg: #404040;
      --color-bg: #f0f0f0;
      --color-link: #283945;
      --color-accent: crimson;
    }
  }

  @media (prefers-contrast: more) {
    :root {
      --color-text: white;
      --color-bg: black;
    }
  }

  @media (prefers-color-scheme: light) and (prefers-contrast: more) {
    :root {
      --color-text: black;
      --color-bg: white;
    }
  }

*,
*::before,
*::after {
  font-feature-settings: "kern";
  font-kerning: normal;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

input:is([type="checkbox"], [type="radio"]),
select,
label,
button {
  cursor: pointer;
}

input,
select,
textarea,
button {
  font: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: currentColor;
}

details summary { 
  cursor: pointer;
}

details summary > * {
  display: inline;
}

img,
svg,
video {
  display: block;
  max-inline-size: 100%;
  block-size: auto;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

:not([class]) {
  h1&, h2&, h3&, h4&, h5&, h6& {
    margin-block: 0.75em;
    line-height: 1.2;
    text-wrap: balance;
    letter-spacing: -0.025ch;
  }
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: var(--color-bg);
}

body {
  background-color: var(--color-bg);
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0 auto;
}

a {
  color: var(--color-fg);
}

main {
  padding: 0.5rem 1rem;
  flex-grow: 1;
}

footer {
  background: rgba(0, 0, 0, 0.125);
  line-height: 1.75;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

footer p {
  font-size: 0.875em;
  line-height: 1.5;
}

/* Format headings */
h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.325rem;
}

h5 {
  font-size: 1.125rem;
}

h6 {
  font-size: 0.96rem;
}


@media (min-width: 32em){
  h1 {
    font-size: 3.999rem;
  }

  h2 {
    font-size: 2.999rem;
  }

  h3 {
    font-size: 2.333rem;
  }

  h4 {
    font-size: 2rem;
  }

  h5 {
    font-size: 1.666rem;
  }

  h6 {
    font-size: 1.166rem;
  }
}

.container {
  width: 95%;
  margin: 0 auto;
}

.container p, .container ol li, .container ul li {
  max-width: var(--line-length);
}

.container-small {
  max-width: 32em;
}

.canvas,
[role="navigation"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  width: 100%;
  min-height: 100%;
}

.canvas {
  background: var(--color-bg);
  color: var(--color-fg);
  display: flex;
  flex-direction: column;
}

.canvas + * {
  flex-grow: 1;
}

.off-canvas {
  background-color: #151e25;
  color: white;
}

.off-canvas a {
  color: yellow;
  font-family: var(--font-server);
}

.off-canvas a:hover {
  color: #ff8200;
  font-family: var(--font-server);
}

.off-canvas li {
  padding-bottom: 0.875em;
}

.control {
  float: right;
  border: 1px solid;
  text-decoration: none;
  border-radius: 0.25em;
  padding: 0.325em 0.5em 0.125em 0.5em;
  font-family: var(--font-server);
  font-size: 0.875em;
  text-transform: uppercase;
}

a.control:hover,
a.control:focus,
a.control:active {
  text-decoration: none;
  background-color: #ff8200;
  border: 1px solid #ff8200;
  color: black;
}

[role="navigation"] {
  padding: 1em 5% 3em;
}

@media screen {
  .cutsthemustard .canvas {
      -webkit-transition: all .25s;
      transition: all .25s;
      width: 100%;
      position: absolute;
      z-index: 2;
      top: 0;
      right: 0;
  }
  .cutsthemustard [role="navigation"] {
      width: 75%;
      position: absolute;
      position: fixed;
      overflow: hidden;
      overflow-y: scroll;
      z-index: 1;
      top: 0;
      right: 0;
      height: 100%;
      height: 100vh
  }
  .cutsthemustard .active .canvas {
      -webkit-transform: translateX(-75%);
      -ms-transform: translateX(-75%);
      transform: translateX(-75%);
  }
}

    .site-logo {
      float: left;
    }

    /* Utility Classes */

    .img-circle {
      border-radius: 50%;
  }

    .list-unstyled {
      list-style: none;
      padding: 0;
  }

    .list-multi-col{
      column-width: 12em;
      column-gap: 2em;
  }

    .text-uppercase {
      text-transform: uppercase;
      letter-spacing: 1px;
  }

    .vis-hidden {
      border: 0;
      clip: rect(0 0 0 0);
      height: auto;
      margin: 0;
      overflow: hidden;
      padding: 0; 
      position: absolute;
      width: 1px;
      white-space: nowrap;
    }

    .skip-to-content{
      padding-left: 2em;
      font-size: 14px;
      padding-bottom: 1rem;
    }

    .h-centered {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .v-centered {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .text-large {
      font-size: 1.166rem;
    }

    .text-bold {
      font-weight: 700;
    }

    /* Grid stuff */    

    .auto-grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size, 10rem), 2fr));
      grid-gap: 1.5rem;
    }

    .flexo {
      display: flex;
      flex-wrap: wrap;
      margin: -0.5em;
    }
    
    .flexo > * {
      flex: 1 0 18em;
      margin: 0.75em;
    }

    /* Bloggy Stuff */
    
    .note-single {
      margin-top: 2rem;
    }

    .posts-list li {
      padding-bottom: 1.666rem;
    }

    .timestamp {
      font-family: var(--font-server);
    }

    /* Collections */     
    
    .lib-item {
      font-size: 0.875em;
      padding: 1em 1em 1em 0;
    }
    
    .lib-title {
      font-weight: 700;
    }
    
    .lib-cover {
      height: 8em;
      width: auto;
      border: 1px solid rgba(0, 0, 0, 0.0185);
    }
